html
{
	font-family: Lato;
	background-color: #2f2f2f;
}

.container
{
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	background-color: #f0f0f0;
}

.logo
{
	float: left;
	margin-top: 10px;
	margin-left: 10px;
	border: 1px solid #f0f0f0;
	border-radius: 3px;
	transition: all 0.2s ease-in;
}

.logo:hover
{
	border: 1px solid #2f2f2f;
}

.nav
{
	margin-top: 60px;
	margin-right: 5px;
	float: right;
}

.header
{
	height: 90px;
	border-bottom: 2px solid #2f2f2f;
}

.content
{
	margin-left: 10px;
	clear: both;
}

.footer
{
	text-align: center;
}

.tip
{
	font-size: small;
	color: #a5a5a5;
}

.req-alert
{
	color:  #ce1d10;
	font-size: medium;
	font-weight: bold;
}

.nav a, button, .admin-link
{
	text-decoration: none;
	margin-left: 5px;
	margin-right: 5px;
	background-color: #2f2f2f;
	color: #f0f0f0;
	padding: 5px;
	border: 1px solid #2f2f2f;
	border-radius: 3px;
	transition: all 0.2s ease-in;
	font-size: medium;
}

.admin-link
{
	margin-top: 5px;
	margin-bottom: 5px;
}

.nav a:hover, button:hover, .admin-link:hover
{
    background-color: #f0f0f0;
    color: #2f2f2f;
}

button
{
	width: 100px;
}

.del-button
{
	background-color: #ce1d10;
	color: #f0f0f0;
	border: 1px solid #ce1d10;
}

.del-button:hover
{
	background-color: #f0f0f0;
	color: #ce1d10;
}

#admin a
{
	background-color: #2ca58b;
	border-color: #2ca58b;
}

#admin a:hover
{
	background-color: #f0f0f0;
    color: #2ca58b;
}

.content img
{
	vertical-align: middle;
}

textarea
{
	font-family: Lato;
	font-size: small;
	width: 400px;
	height: 100px;
}

.l-txt-input, select
{
	width: 300px;
}